header{ 
    background: #cf975c;
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;

    h1 {
    color: #eee;
    display: inline-block;
    font-weight: 700;
    margin: .5em auto;
    text-align: center;
}
}